.calc-buttons {
    margin-top: 12px;
    background-color: var(--color-light-green);
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-border);
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;

}
.calc-buttons:hover{
    background-color: var(--color-dark-green);
}

.calc-buttons:active{
    background-color: var(--color-green-active);
}

.calc-buttons-reset {
    background-color: var(--color-dark-green);
    transition: background-color 0.3s ease;
}
.calc-buttons-reset:hover{
    background-color: var(--color-light-green);
}

.calc-buttons-reset:active{
    background-color: var(--color-white);
}

.screen {
    width: -webkit-fill-available;
    padding: 10px;
    padding-top: 80px;
    font-size: 24px;
    text-align: right;
    border-radius: 16px;
}